* {
  margin: 0;
  padding: 0;
}

.container {
  color: #fff;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 42px;
  width: 100%;
}

.container-block {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    linear-gradient(257.26deg, #008bf0 -13.2%, #d943c9 130.95%);
  box-sizing: border-box;
  display: flex;
  height: 296px;
  padding-left: 35px;
  width: 555px;
}

.container-block__info {
  color: #e6edf2;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 13px;
  opacity: 60%;
  padding-top: 75px;
  text-transform: uppercase;
}

.container-block__title {
  font-family: "Hind Siliguri", sans-serif;
  font-size: 26px;
  font-weight: 600;
}
.container-block__link {
  cursor: pointer;
  font-family: "Hind Siliguri", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.container-img {
  background: no-repeat;
  height: 100%;
  width: 100%;
}

.container-img--one {
  background-image: url(./images/one.png);
  background-size: contain;
}

.container-img--two {
  background-image: url(./images//two.png);
  background-size: contain;
}
